---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="danmaninc">
	<main>
		<div class="persona">
			<h1>Daniil Nikulin</h1>
			<h2>Web-developer</h2>
			<ul role="list" class="link-list">
				<Link
					href="projects"
					title="projects"
				/>
				<Link
					href="mailto:dan@dminc.ru"
					title="contact me"
				/>
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		color: white;
	}
	.persona {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.75rem;
	}
	h2 {
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 1.25rem;
	}
	.link-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
		padding: 0;
	}
</style>
